%p
  Username: #{@identity.username}
%p
  Domain: #{@identity.domain}
%p
  Public Key: #{@identity.public_key}
%p
  Salmon Endpoint: #{@identity.salmon_endpoint}
%p
  Dialback Endpoint: #{@identity.dialback_endpoint}
%p
  Activity Inbox Endpoint: #{@identity.activity_inbox_endpoint}
%p
  Activity Outbox Endpoint: #{@identity.activity_outbox_endpoint}
