- show_as_activity = false unless show_as_activity
- verb = activity.verb
- initial = activity
- original = activity.actor
- activity = activity.object if activity.external_object_type == "Activity"
%ul
  %li.avatar
    - if verb == :favorite && show_as_activity
      %img{:src => "/assets/images/favorite.png"}
    - elsif verb == :share && show_as_activity
      %img{:src => "/assets/images/shared.png"}
    - elsif activity.actor && activity.actor.avatar
      %img{:src => activity.actor.avatar.url}
    - else
      %img{:src => "/assets/images/avatar.png"}
  - if show_as_activity
    %li.title #{initial.sentence}
  - else
    %li.actor_display
      - if activity.actor.nil?
        ???
      - else
        %a{:href => "/people/#{activity.actor.id}"}
          #{activity.actor.preferred_display_name}
    %li.actor
      - if activity.actor.nil?
        ???
      - else
        #{activity.actor.preferred_username}
    %li.pronoun they/their
  - if verb == :share && !show_as_activity
    %li.shared_by #{original.preferred_display_name}
    %li.shared_when #{initial.published_ago_in_words}
  - if show_as_activity && initial.object.is_a?(Nelumba::Activity)
    %li.activity
      = partial :"activities/list", {:locals => {:activity => activity}}
  - else
    %li.content
      - if partial_exists?(:"activities/#{activity.type.to_s}")
        = partial :"activities/#{activity.type.to_s}", :locals => {:activity => activity}
      - else
        #{activity.sentence}
  %li.actions
    - if current_person
      %ul.verbs
        %li.favorite.verb
          %form{:action => "/people/#{current_person.id}/favorites", :method => "post", :name => "favorite_#{initial.id}"}
            %input{:name => "activity_id", :value => initial.id, :type => "hidden"}
            %input{:type => "submit", :value => "Favorite"}
          %span.count
            #{initial.interaction_count(:favorite)}
        %li.share.verb
          %form{:action => "/people/#{current_person.id}/shared", :method => "post", :name => "share_#{initial.id}"}
            %input{:name => "activity_id", :value => initial.id, :type => "hidden"}
            %input{:type => "submit", :value => "Share"}
          %span.count
            #{initial.interaction_count(:share)}
  %li.when
    %a{:href => activity.url} #{activity.published_ago_in_words}
