- # TODO: Presenter
- show_as_activity = false unless show_as_activity
- verb = activity.verb
- initial = activity
- original = activity.actor
- activity = activity.object if activity.external_object_type == "Activity"
.byline
  %ul
    %li.avatar
      - if verb == :favorite && show_as_activity
        %img{:src => "/assets/images/favorite.png"}
      - elsif verb == :share && show_as_activity
        %img{:src => "/assets/images/shared.png"}
      - elsif activity.actor.avatar
        %img{:src => activity.actor.avatar.url}
      - else
        %img{:src => "/assets/images/avatar.png"}
    - if show_as_activity
      %li.title #{initial.sentence}
    - else
      %li.actor_display #{activity.actor.display_name}
      %li.actor #{activity.actor.short_name}
.message
  %ul
    - if show_as_activity && initial.object.is_a?(Lotus::Activity)
      %li.activity
        = partial :"activities/show", {:locals => {:activity => activity}}
    - else
      %li.content
        - if partial_exists?(:"activities/#{activity.type.to_s}")
          = partial :"activities/#{activity.type.to_s}", :locals => {:activity => activity, :full => true}
        - else
          #{activity.sentence}
    %li.interactions
      %ul.verbs
        %li.favorite.verb
          %span.count
            #{initial.interaction_count(:favorite)}
          %span.verb
            favorites
          %ul.actors
            %li.person
              %a.uri{:href => "/people/#{0}"}
                %img.avatar{:src => ""}
        %li.share.verb
          %span.count
            #{initial.interaction_count(:share)}
          %span.verb
            shares
          %ul.actors
            %li.person
              %a.uri{:href => "/people/#{0}"}
                %img.avatar{:src => ""}
    - if current_person
      %li.actions
        %ul.verbs
          %li.favorite.verb
            %form{:action => "/people/#{current_person.id}/favorites", :method => "post", :name => "favorite_#{initial.id}"}
              %input{:name => "activity_id", :value => initial.id, :type => "hidden"}
              %input{:type => "submit", :value => "Favorite"}
          %li.share.verb
            %form{:action => "/people/#{current_person.id}/shared", :method => "post", :name => "share_#{initial.id}"}
              %input{:name => "activity_id", :value => initial.id, :type => "hidden"}
              %input{:type => "submit", :value => "Share"}
    %li.when
      #{activity.published.strftime("%c")}
