%ul
  %li.avatar
    - if person.avatar
      %img{:src => person.avatar.url}
    - else
      %img{:src => "/assets/images/avatar.png"}
  %li.actor_display<
    %a{:href => "/people/#{person.id}"}>
      #{person.preferred_display_name}
  %li.actor<
    #{person.preferred_username}
  - if person.pronoun and person.pronoun.values.join("") != ""
    %li.pronoun<
      - if person.pronoun.has_key? :personal
        %span.personal
          #{person.pronoun[:personal]}
      - if person.pronoun.has_key? :possessive
        %span.possessive
          #{person.pronoun[:possessive]}
  - if person.note
    %li.content
      #{person.note}
