%nav.topbar
  - if current_person.nil?
    %ul.navbar
      %li>
        %img.avatar{:src => "/assets/images/avatar.png"}>
      %li>
        Welcome to
        %strong.title
          Nelumba
    %ul.navbar.right
      %li>
        %a{:href => "/login"}>Login
      %li>
        %a{:href => "/authorizations/new"}>Signup
  - else
    %a{:href => "/people/#{current_person.id}"}
      %ul.navbar
        %li>
          - if current_person.avatar
            %img.avatar{:src => "#{current_person.avatar.url}"}>
          - else
            %img.avatar{:src => "/assets/images/avatar.png"}>
        %li>
          #{current_person.display_name}
    %ul.navbar.right
      %li>
        %a{:href => "/people/#{current_person.id}/settings"}>Settings
      %li>
        %a{:href => "/logout"}>Logout
    %ul.statistics
      %li.statistic>
        %span.collection>
          Updates
        %span.count>
          %a{:href => "/people/#{current_person.id}/statuses"}
            21.3k
      %li.statistic>
        %span.collection>
          Following
        %span.count>
          %a{:href => "/people/#{current_person.id}/following"}
            398
      %li.statistic>
        %span.collection>
          Followers
        %span.count>
          %a{:href => "/people/#{current_person.id}/followers"}
            923
      %li.statistic>
        %span.collection>
          Favorites
        %span.count>
          %a{:href => "/people/#{current_person.id}/favorites"}
            4.3k
      %li.statistic>
        %span.collection>
          Shares
        %span.count>
          %a{:href => "/people/#{current_person.id}/shared"}
            1.3k
