= partial :"people/links", :locals => {:person => person}
= partial :"people/banner", :locals => {:person => person}

= partial :"people/tabbar", :locals => {:person => person, :card => false, :current_tab => "activities", :ajax => true, :browse => true}
#stream
  = partial :"people/activities", {:locals => {:person     => person,
                                               :activities => activities}}
= partial :"people/footer"
