.banner>
  %img{:src => "/assets/images/nelumba_profile_bg.png"}>
.card
  - if current_person
    = partial :"people/tabbar", :locals => {:current_tab => nil, :ajax => false}
.profile.card
  %h1
    Edit your profile:
  %form{:name => 'author', :action => "/people/#{person.id}", :method => 'post'}
    %h2
      Personal Note / Bio
    %div
      %textarea{:name => 'note'}
        #{person.note}
    %ul
      %li.header
        %h2
          General
      %li
        %label{:for => 'preferred_username'}
          Preferred Username
        %div
          %input{:type => 'text', :name => 'preferred_username', :value => person.preferred_username}
      %li
        %label{:for => 'display_name'}
          Display Name
        %div
          %input{:type => 'text', :name => 'display_name', :value => person.display_name}
      %li
        %label{:for => 'name'}
          Name
        %div
          %input{:type => 'text', :name => 'name', :value => person.name}
      %li
        %label{:for => 'nickname'}
          Nickname
        %div
          %input{:type => 'text', :name => 'nickname', :value => person.nickname}
      %li
        %label{:for => 'email'}
          Email
        %div
          %input{:type => 'text', :name => 'email', :value => person.email}
      %li
        %label{:for => 'gender'}
          Gender
        %div
          %input{:type => 'text', :name => 'gender', :value => person.gender}
      %li
        %label{:for => 'pronoun[personal]'}
          Personal Pronoun
        %div
          %input{:type => 'text', :name => 'pronoun[personal]', :value => person.pronoun && person.pronoun[:personal]}
      %li
        %label{:for => 'pronoun[possessive]'}
          Possessive Pronoun
        %div
          %input{:type => 'text', :name => 'pronoun[possessive]', :value => person.pronoun && person.pronoun[:possessive]}
      %li.header
        %h2
          Extended Name
      %li
        %label{:for => 'extended_name[formatted]'}
          Formatted
        %div
          %input{:type => 'text', :name => 'extended_name[formatted]', :value => person.extended_name ? person.extended_name[:formatted] : ""}
      %li
        %label{:for => 'extended_name[given_name]'}
          Given Name (First Name)
        %div
          %input{:type => 'text', :name => 'extended_name[given_name]', :value => person.extended_name ? person.extended_name[:given_name] : ""}
      %li
        %label{:for => 'extended_name[family_name]'}
          Family Name (Last Name)
        %div
          %input{:type => 'text', :name => 'extended_name[family_name]', :value => person.extended_name ? person.extended_name[:family_name] : ""}
      %li
        %label{:for => 'extended_name[middle_name]'}
          Middle Name
        %div
          %input{:type => 'text', :name => 'extended_name[middle_name]', :value => person.extended_name ? person.extended_name[:middle_name] : ""}
      %li
        %label{:for => 'extended_name[honorific_prefix]'}
          Prefix
        %div
          %input{:type => 'text', :name => 'extended_name[honorific_prefix]', :value => person.extended_name ? person.extended_name[:honorific_prefix] : ""}
      %li
        %label{:for => 'extended_name[honorific_suffix]'}
          Suffix
        %div
          %input{:type => 'text', :name => 'extended_name[honorific_suffix]', :value => person.extended_name ? person.extended_name[:honorific_suffix] : ""}
      %li.header
        %h2
          Organization/Company
      %li
        %label{:for => 'organization[name]'}
          Company Name
        %div
          %input{:type => 'text', :name => 'organization[name]', :value => person.organization ? person.organization[:name] : ""}
      %li
        %label{:for => 'organization[department]'}
          Department
        %div
          %input{:type => 'text', :name => 'organization[department]', :value => person.organization ? person.organization[:department] : ""}
      %li
        %label{:for => 'organization[title]'}
          Title
        %div
          %input{:type => 'text', :name => 'organization[title]', :value => person.organization ? person.organization[:title] : ""}
      %li
        %label{:for => 'organization[type]'}
          Company Type
        %div
          %input{:type => 'text', :name => 'organization[type]', :value => person.organization ? person.organization[:type] : ""}
      %li
        %label{:for => 'organization[location]'}
          Location
        %div
          %input{:type => 'text', :name => 'organization[location]', :value => person.organization ? person.organization[:location] : ""}
      %li
        %label{:for => 'organization[description]'}
          Job Description
        %div
          %textarea{:name => 'organization[description]'}
            #{person.organization ? person.organization[:description] : ""}

      %li.header
        %h2
          Address
      %li
        %label{:for => 'address[formatted]'}
          Formatted
        %div
          %textarea{:name => 'address[formatted]'}
            #{person.address ? person.address[:formatted] : ""}
      %li
        %label{:for => 'address[street_address]'}
          Street
        %div
          %input{:type => 'text', :name => 'address[street_address]', :value => person.address ? person.address[:street_address] : ""}
      %li
        %label{:for => 'address[locality]'}
          Locality (City)
        %div
          %input{:type => 'text', :name => 'address[locality]', :value => person.address ? person.address[:locality] : ""}
      %li
        %label{:for => 'address[region]'}
          Region (State)
        %div
          %input{:type => 'text', :name => 'address[region]', :value => person.address ? person.address[:region] : ""}
      %li
        %label{:for => 'address[postal_code]'}
          Postal/Zip Code
        %div
          %input{:type => 'text', :name => 'address[postal_code]', :value => person.address ? person.address[:postal_code] : ""}
      %li
        %label{:for => 'address[country]'}
          Country
        %div
          %input{:type => 'text', :name => 'address[country]', :value => person.address ? person.address[:country] : ""}
    %input.button{:type => 'submit'}
