%p
  Id: #{person.author.id}
%p
  Nickname: #{person.author.nickname}
%p
  Uri: #{person.author.uri}
%p
  Email: #{person.author.email}
%p
  Name: #{person.author.name}
%p
  Gender: #{person.author.gender}
%p
  Display Name: #{person.author.display_name}
%p
  Preferred Username: #{person.author.preferred_username}
%p
  Birthday: #{person.author.birthday}
%p
  Anniversary: #{person.author.anniversary}
%p
  Note: #{person.author.note}

- if person.author.avatar
  %img{:src => person.author.avatar.read_base64}

- if person.author.avatar
  %img{:src => person.author.avatar.url}

- if person.author.extended_name
  %p
    Extended Name: formatted: #{person.author.extended_name[:formatted]}, given name: #{person.author.extended_name[:given_name]}, family name: #{person.author.extended_name[:family_name]}, middle_name: #{person.author.extended_name[:middle_name]}, prefix: #{person.author.extended_name[:honorific_prefix]}, suffix: #{person.author.extended_name[:honorific_suffix]}

- if person.author.organization
  %p
    Organization: name: #{person.author.organization[:name]}, department: #{person.author.organization[:department]}, title: #{person.author.organization[:title]}, type: #{person.author.organization[:type]}, start: #{person.author.organization[:start_date]}, end: #{person.author.organization[:end_date]}, location: #{person.author.organization[:location]}, description: #{person.author.organization[:description]}

- if person.author.address
  %p
    Address: formatted: #{person.author.address[:formatted]}, street: #{person.author.address[:street_address]}, locality: #{person.author.address[:locality]}, region: #{person.author.address[:region]}, postal code: #{person.author.address[:postal_code]}, country: #{person.author.address[:country]}

%h1
  Activities

%ul
  - timeline.each do |activity|
    %li
      %p
        Title: #{activity.title}
      %p
        Content: #{activity.content}
      %p
        #{activity.human_description[:sentence]}
      - if current_person
        %p
          %form{:action => "/people/#{current_person.id}/favorites", :method => "post", :name => "favorite_#{activity.id}"}
            %input{:name => "activity_id", :value => activity.id, :type => "hidden"}
            %input{:type => "submit", :value => "Favorite"}
        %p
          %form{:action => "/people/#{current_person.id}/shared", :method => "post", :name => "share_#{activity.id}"}
            %input{:name => "activity_id", :value => activity.id, :type => "hidden"}
            %input{:type => "submit", :value => "Share"}
