%p
  Id: #{person.id}
%p
  Nickname: #{person.nickname}
%p
  Uri: #{person.uri}
%p
  Email: #{person.email}
%p
  Name: #{person.name}
%p
  Gender: #{person.gender}
%p
  Display Name: #{person.display_name}
%p
  Preferred Username: #{person.preferred_username}
%p
  Birthday: #{person.birthday}
%p
  Anniversary: #{person.anniversary}
%p
  Note: #{person.note}

- if person.avatar
  %img{:src => person.avatar.read_base64}

- if person.avatar
  %img{:src => person.avatar.url}

- if person.extended_name
  %p
    Extended Name: formatted: #{person.extended_name[:formatted]}, given name: #{person.extended_name[:given_name]}, family name: #{person.extended_name[:family_name]}, middle_name: #{person.extended_name[:middle_name]}, prefix: #{person.extended_name[:honorific_prefix]}, suffix: #{person.extended_name[:honorific_suffix]}

- if person.organization
  %p
    Organization: name: #{person.organization[:name]}, department: #{person.organization[:department]}, title: #{person.organization[:title]}, type: #{person.organization[:type]}, start: #{person.organization[:start_date]}, end: #{person.organization[:end_date]}, location: #{person.organization[:location]}, description: #{person.organization[:description]}

- if person.address
  %p
    Address: formatted: #{person.address[:formatted]}, street: #{person.address[:street_address]}, locality: #{person.address[:locality]}, region: #{person.address[:region]}, postal code: #{person.address[:postal_code]}, country: #{person.address[:country]}

%h1
  Activities

%ul
  - timeline.each do |activity|
    = partial :"activities/show", {:locals => {:activity => activity}}
