= partial :"people/links", :locals => {:person => person}
= partial :"people/banner", :locals => {:person => person}

-# STATUSES, ACTIVITIES, FOLLOWING, FOLLOWERS
= partial :"people/tabbar", :locals => {:person => person, :current_tab => "statuses", :ajax => true, :card => false, :browse => true}
#stream
  = partial :"people/timeline", {:locals => {:person => person,
                                             :timeline => timeline}}
= partial :"people/footer"
